
<!-- <script type="text/javascript"> 

function stopRKey(evt) { 
  var evt = (evt) ? evt : ((event) ? event : null); 
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
} 

document.onkeypress = stopRKey; 

</script> -->


<body background="nosepicking.jpg">

	<h1>Welcome to Pairs Picker!</h1>
	<h2><%= session[:message]%></h2>
	<form action="/pairs" method="post" id="input_form">
		<script type="text/javascript">
			var x = document.createElement("input");
			x.setAttribute("type","text");
			x.setAttribute("name","name[]");
			x.setAttribute("placeholder","Input a Name");
			x.setAttribute("required", "required");
			var form = document.getElementById("input_form"); 
			form.append(x);

		</script>


		<button type="button" id="submit_pairs">Add Another Name</button>
		<br>
		<br>
		<button type="button" id="get_pairs">Get Pairs</button>
		<br> <br>
		<script type="text/javascript" src="pairs.js"></script>		
		<br>
	</form>

	

</body>





