
<img class="resize" src="/together.jpg">

<h3>Your Pairings Are:</h3>

<% session[:pairs].each do |pair|%>
	<% pair.each do |person| %>
	<%=person %>
<%end%>
<br>
<%end%>


<h3>Please select the pairs you want to change.</h3>
<br>
<form action="/bad_pairs" method="post">


	<% session[:pairs].each do |pair| %>
		 <input type="checkbox" name="bad_pairs[]" value= '<%= pair %>' unchecked><% pair.each do |person|%> 
		 		<%=person%>
		 		<%end%> <br>
	<% end %>

  <input type="submit" value="Re-Pair">
</form>

<form action="/" method="get">
	<input type="submit" value ="Do it Again!" <% session[:message] = " "%> >
</form>





